.btn-primary {
  position: absolute;
  width: 362px;
  height: 40px;
  left: 30px;
  top: 889px;
  background: #f8BD1C;
  border-radius: 4px;
  color: #f4f4f4;
  line-height: 25px;
  border: none;
}

.field {
  width: 362px;
  height: 40px;
  left: 26px;
  top: 190px;
  border-radius: 10px;
}